langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
langchain-google-firestore
faiss-cpu
sentence-transformers
google-cloud-firestore
dotenv
speechrecognition
pyttsx3
flask